header{
  padding: 10px;
}
.navbar-nav .nav-link{
  font-size: 20px;
}

#conteudo1{
  background-color: aquamarine;
}
#conteudo3{
  background-color: aquamarine;
}
h2 {
  color:black;
  padding-top: 10px;
}
h3 {
  color: brown;
}
p{
  color: black;
  font-size: 18px;
}

li {
  padding-left: 20px;
  font-size: 18px;
}
footer .footer{
  color: brown;
  font-size: 18px;
  padding: 10px;
  text-align:center ;
}